

.open_shopping_list_history{
  border: 2px solid #66bb6a;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}

.btn-historikk {
  font-size: 15px;
}

@media  (max-width: 600px){
  .btn-historikk {
  font-size: 10px;
}
}

