

/* Delkodeseksjonen */
.share-code-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  max-width: 400px;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}



.share-code-title {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.share-code-fields {
  display: flex;
  gap: 1rem; 
  justify-content: space-between;
}

.share-code-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: 1rem;
}


.share-code-field label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 0.5rem;
}

.share-code-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.share-code-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start; 
  margin-top: 1rem;
}

.code-share-epost{
  padding: 4px;
  border-radius: 5px;
}

.share-code-button {
  padding: 10px 15px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.share-code-button:hover {
  background-color: #5aa65a;
}

.share-code-button.delete {
  background-color: #e57373;
}

.share-code-button.delete:hover {
  background-color: #d15b5b;
}

.deleteButton {
  background-color: #e57373;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d15b5b;
}

@media (max-width: 390px){

  .share-code-container{
    width: 90%;
  }
  .share-code-button{
    padding: 10px 10px;
  }

}

