

.setting_view{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 60vh; 
  padding: 2rem;
  text-align: center;
  gap: 1.2rem;
  cursor: pointer;
}